<div class="top-shelf">
  <div class="restaurant group">
    <p class="restaurant-name"><%= restaurant.escape("name") %></p>
    <div id="restaurant-average-rating"></div>
    <div class="restaurant-tags">
      <ul class="restaurant-tags-list"></ul>
      <a class="new-tag" href="#/restaurants/<%= restaurant.id %>">
        Add a Tag
      </a>
    </div>

    <div class="map-container">
      <div id="map"></div>
      <div class="restaurant-map-info">
        <div class="address">
          <%= restaurant.escape("address") %>
        </div>
        <a id="directions-link" href="#/restaurants/<%= restaurant.id %>">
          Get Directions
        </a>
      </div>
    </div>
    <a class="new-review" href="#/restaurants/<%= restaurant.id %>/reviews/new">
      Write a Review
    </a>
  </div>
</div>

<div class="reviews-view">
  <div class="reviews">
    <h1>Recommended Reviews</h1>
    <ul class="reviews-list group"></ul>
  </div>
</div>

<div class="map-directions-container">
  <div class="modal-container">
    <div class="modal-screen hide"></div>
    <div class="modal-map hide">
      <div class="close-button">x</div>
      <div id="map-directions"></div>
      <div id="map-panel"></div>
    </div>
  </div>
</div>
