<section class="reviewer">
  <div class="reviewer-avatar-container">
    <img src="<%= user.escape('avatar_url') %>" class="reviewer-avatar">
  </div>

  <div class="reviewer-name">
    <a href="#/users/<%= user.id %>">
      <%= user.escape('first_name') %> <%= user.escape('last_name') %>
    </a>
  </div>
</section>

<section class="review-body">
  <div id="star-rating"></div>

  <div class="time-ago">
    <time datetime="<%= review.get('updated_at') %>" class="age"></time>
    <script type="text/javascript">
      $('.age').age();
    </script>
  </div>

  <%= review.escape("body") %>
</section>
