<h1>Your next rant awaits</h1>

<label>
	Review everything from your favorite burger to the heated conversation you had
	with your friends about how many black shirts Jonathan has.
	<input type="text" class="query">
</label>

<section class="results">
	<% if (results.total_count > 0) { %>
		<nav>
			Displaying page number <%= results.pageNum %> out
			of <%= results.total_count %> results

			<% if (results.pageNum > 1) { %>
				<a class="prev-page" href="javascript:void(0)">Prev</a>
			<% } %>

			<% if (results.pageNum < results.total_count) { %>
				<a class="next-page" href="javascript:void(0)">Next</a>
			<% } %>
		</nav>
	<% } %>

	<% results.each(function (result) { %>
		<article>
			<% if (result instanceof YelpClone.Models.Restaurant) { %>

				<a href="#/restaurants/<%= result.id %>">
					<%= result.escape("name") %>
				</a>

				<p><%= result.escape("address") %></p>

			<% } %>
		</article>
	<% }) %>
</section>
